main {
	font-size:0px;
	margin-top: 8%;
}


.box{
	max-width: 800px;
	max-height:500px;
	margin-left:auto;
	margin-right:auto;

}

.upper {
	height: 200px;
	width:50%;
	display:inline-block;
	border:1px solid black;

}

.upper-one {
	background-color:green;


}

.upper-two {
	background-color: blue;


}

.lower {
	height: 300px;
	width: 33.33%;
	display: inline-block;
	border: 1px solid black;

}

.lower-one {
	background-color: grey;
}

.lower-two {
	background-color:black;
}

.lower-three{
	background-color: orange;
}